body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  width: 250px;
  height: 200px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  width: 50px;
  margin-bottom: 15px;
}

h1 {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

div {
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  margin-bottom: 15px;
  cursor: pointer;
}

select:focus {
  border-color: #0073e6;
  outline: none;
}

.button-34 {
  background: #3632D7;
  border-radius: 999px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 18px;
  border: 0;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.button-34:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.button-34:active {
  transform: translateY(2px);
}

a {
  color: #5a5fec;
  margin-top: 30px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

        /* Initially hide the content */
#hiddenContent {
  display: none;
  margin-top: 10px;
}

      /* Style for the button */
.dropdown-btn {
  cursor: pointer;
  color: rgb(96, 96, 97);
  text-decoration: underline;
  border: none;
  background: none;
  font-size: 10px;
  margin-top: 20px;
}